@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway|Muli|Tenor+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  border: 1px solid red;
}

p.errorMessage {
  font-style: italic;
  color: red;
  font-size: small;
}

.accordion {
  padding: 0;
  width: 100%;
}

.badge {
  width: 100%;
  margin-top: 1%;
  opacity: 0.85;
}


.btn:disabled {
  opacity: 1;
}

.button-group-holder {
  margin-top: 3%;
  text-align: right;
}

.btn-link {
  width: 100%;
  padding:0
}

.input-group-left {
  width: 100%
}

.input-group-middle {
  width: 100%
}
.input-group-text {
  margin: auto;
  width: 100%;
}

.text-wrap {
  margin: auto;
}

.list-group-item {
  padding: 1%;
  border: 0;
  width: 100%
}

.btn-info {
  width: 100%;
  margin-top: 0.7%;
}

.card-body {
  padding: 15px;
}

.button-holder {
  margin:auto;
  text-align: center;
}

.card {
  margin-top: 3%;
}

.form-card {
  margin: auto;
  width: 70%;
}

.card-body {
  padding: 3%;
  margin: 3%
}

.toast {
  margin-left: auto;
}

.navbar-brand {
  font-family: Muli;
  letter-spacing: .2em;
  font-weight: 500;
}

.hiddenToast {
  border: 0;
  box-shadow: none;
  color:white
}

@media (min-width: 768px) {

  .badge {
    width: fit-content;
    opacity: 0.85;
  }

  .btn:disabled {
    opacity: 1;
  }

  .list-group {
    padding: 0%;
    border: 0px;
    border-radius: .25rem;
    margin-top: 0%;
  }

  .card-body {
    padding: 0%;
    border: 0
  }

  .list-group-horizontal {
    padding: 0%;
    margin-top: 0%;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    border:0
  }

  .list-group-item {
    padding: 0;
    border: 0;
    vertical-align: middle;
  }

  .info-holder {
    padding-left: 1%;
    margin: 1%;
    border: 0;
    width: 85%
  }

  .button-holder{
    padding-right: 1%;
    margin: 1%;
    border: 0;
    text-align: right;
    vertical-align: middle;
    display: table-cell;
    width: 15%;
  }

  
  .button-holder .btn {
    margin: auto;
    justify-content: center;
  }

  .card {
    margin-top: 3%;
  }

  .card-body {
    border: 0;
  }

  .btn-link {
    width: 100%;
    padding:0
  }


  .btn-info {
    width: fit-content;
    margin-top: 0.3%;
  }

  .input-group-left {
    width: 50%
  }

  .input-group-middle {
    width: 50%
  }

  .input-group-text {
    width: 100%;
  }

  .content-left {
    border-right: 1px solid #333;  
  }

  .react-datetime-picker__wrapper {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
}

